<div class="container">
  <div class="list-container">
    <div class="nav-container" routerLink="/authentication">
      <i class="icon" id="authentication-icon"></i>
      <p>Авторизация</p>
    </div>
    <div class="nav-container" routerLink="/receiving">
      <i class="icon" id="schedule-icon"></i>
      <p>
        План работы <br />
        на день <br />
        загрузка-прием
      </p>
    </div>

    <div class="nav-container" routerLink="/shipment">
      <i class="icon" id="shipment-icon"></i>
      <p>
        План работы <br />
        на день <br />
        отгрузка-выдача
      </p>
    </div>

    <div class="nav-container" routerLink="/story">
      <i class="icon" id="story-icon"></i>
      <p>История</p>
    </div>
  </div>
</div>
